<div>
    <button (click)="Presione()">
    Presione
    </button>
<div>Iniciooooooo_____________Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos, molestiae consequatur quos pariatur, necessitatibus, voluptatem perferendis optio eligendi libero aliquid debitis mollitia. Corrupti autem suscipit nesciunt dolore distinctio, ullam ab.
Dicta ad est, earum laboriosam corporis nemo at laborum quaerat, nesciunt eius natus eos veritatis ipsa porro sed iusto assumenda ipsam quod exercitationem. Ab saepe asperiores, voluptas odio totam magnam?
Laboriosam dolore nulla praesentium nisi doloribus ratione id alias quod vero perferendis ut a ullam corporis, voluptatem maiores! Placeat officiis architecto excepturi odit eligendi repudiandae sequi ullam non fugit provident.
Harum commodi, magni libero accusantium illo quos, nam nemo at beatae ratione dicta doloribus, debitis ipsa aut sint laborum nisi earum provident. Perferendis, explicabo! Laborum iusto suscipit quis et voluptates.
Nihil dolor alias corporis mollitia quisquam doloremque quo asperiores, officia repellat provident non recusandae blanditiis facere dolore! Dicta voluptates, adipisci, repudiandae necessitatibus a nobis quasi pariatur facilis, nulla blanditiis omnis.
Sit laudantium labore error incidunt accusantium voluptates amet sed! Esse possimus voluptatem debitis, ipsa, error dolorum est fugit blanditiis vitae cum reiciendis illum, aliquid sint sed ad delectus dolore provident?
Numquam ratione aperiam consectetur, repudiandae dicta totam quibusdam possimus. Eveniet fuga harum magni perspiciatis consequuntur. Exercitationem id nihil atque blanditiis cum enim rem, reiciendis eligendi corporis facilis? Totam, repudiandae ex.
Minima excepturi quos odit similique ipsa nulla eligendi fugiat praesentium, tempora iure tenetur voluptatibus cum? Dolore veritatis ab facere sunt nulla error, facilis consequuntur, asperiores sint, est dignissimos qui optio.</div>
</div>


